body {
    font-family: 'Courier New', Courier, monospace
}

#gameBody {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
}

.column {
    width: 22px;
    height: 22px;
    border-radius: 6px;
    text-align: center;
    padding: 3px;
}

#submitGuess {
    padding: 2px;
    height: 55px;
    width: 55px;
    margin-left: 20px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    float: left;
    margin-top: 15px;
    padding-top: 40px;
}

#inputArea {
    margin-right: 0px;
    float: left;
}

#inputArea>table {
    margin-top: 10px;
    margin-bottom: 10px;
}

#gameTable {
    margin-left: 20px;
}

#colorTable,
#guessTable {
    margin-left: 15px;
}